<div class="wrapper">
  <app-header></app-header>
  <main class="container">
    <article *ngIf="pointDetail">
      <h1>{{pointDetail.headerTitle}} <span [style.background-color]="pointDetail.color" class="badge badge-default">{{pointDetail.type}}</span></h1>
      <div class="row">
        <div class="buttom-buffer col-xl-8 col-lg-7 col-xs-12">
          <p>{{pointDetail.description}}</p>
          <ng-container *ngFor="let button of pointDetail.buttons">
            <a
              *ngIf="button.type"
              href="{{button.actionData}}"
              class="btn btn-secondary btn-lg"
              [style.background-color]="button.color"
              role="button">
              {{button.text}}
            </a>
          </ng-container>
        </div>
        <div class="col-xl-4 col-lg-5 col-xs-12">
          <img class="img-fluid" src="{{pointDetail.imageUrl}}">
        </div>
      </div>
    </article>
    <article *ngIf="!pointDetail">
      <h1>Loading...</h1>
    </article>
  </main>
  <div class="push"></div>
</div>
<app-footer></app-footer>
